.scattered-clouds-day {
  background-image: url(../images/day-scattered-clouds.gif);
}

.scattered-clouds-night {
  background-image: url(../images/night-scattered-clouds.gif);
}

.mist-day {
  background-image: url(../images/day-mist.gif);
}

.mist-night {
  background-image: url(../images/night-mist.gif);
}

.snow-day {
  background-image: url(../images/day-snow.gif);
}

.snow-night {
  background-image: url(../images/night-snow.gif);
}

.thunderstorm-day {
  background-image: url(../images/day-thunderstorm.gif);
}

.thunderstorm-night {
  background-image: url(../images/night-thunderstorm.gif);
}

.rain-day {
  background-image: url(../images/day-rain.gif);
}

.rain-night {
  background-image: url(../images/night-rain.gif);
}

.shower-rain-day {
  background-image: url(../images/day-shower-rain.gif);
}

.shower-rain-night {
  background-image: url(../images/night-shower-rain.gif);
}

.broken-clouds-day {
  background-image: url(../images/day-broken-clouds.gif);
}

.broken-clouds-night {
  background-image: url(../images/night-broken-clouds.gif);
}

.few-clouds-day {
  background-image: url(../images/day-few-clouds.gif);
}

.few-clouds-night {
  background-image: url(../images/night-few-clouds.gif);
}

.clear-sky-day {
  background-image: url(../images/day-clear-sky.gif);
}

.clear-sky-night {
  background-image: url(../images/night-clear-sky.gif);
}

body {
  background-size: 20%;
  background-repeat: repeat;
  background-position: top left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border: solid 1px white;
  border-radius: 5px;
  margin-top: 40px;
}

.weather-app {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#degree {
  font-size: 40px;
  font-weight: 500;
  margin-right: 5px;
}

#unit {
  font-size: 18px;
  margin-top: 10px;
}

#comment {
  margin-top: 0;
  margin-bottom: 15px;
}

small {
  color: #085ed6;
}

.search.btn {
  color: white;
}

li:first-letter {
  text-transform: capitalize;
}

.active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#forecast {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-weight: 700;
}

.weather-forecast-max {
  font-weight: 700; 
}

.weather-forecast-max,
.weather-forecast-min {
  font-size: 12px;
}